


body {
    margin: 0;
    background-image: linear-gradient(to bottom, #13245A, #13335a);
     
}

a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

li:hover {
    background-color: #23284d;
    border-radius: 15px;
}


ul {
    list-style-type: none;
    font-size: 1.2rem;
    padding-top: 1rem;
    
}

li {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
    letter-spacing: 0.2rem;
}


nav a{
    text-decoration: none;
  
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    word-spacing: 0.2em;
}

.character-summary {
    padding: 1rem;
    background-color: #0A0C26;
    border-radius: 15px;
}

.event-summary {
    padding: 2rem;
    background-color: #0A0C26;
    border-radius: 15px;
}
